@charset 'utf-8';
@use "sass:map";
@use "sass:math";
@use "sass:meta";
/* --------------------------------------------------------------------
  @変数
---------------------------------------------------------------------- */
/* Media Queries */
$breakpoints: (sm: 'screen and (max-width: 428px)',
    md: 'screen and (min-width: 600px)', // タブレット表示
    lg: 'screen and (min-width: 834px)', // PC表示
    xl: 'screen and (min-width: 1440px)' // 大きい表示
  );

/* font-size */
$baseFontSize: 16;
/* font-famry */
$fontEn: 'Montserrat', sans-serif;


/* --------------------------------------------------------------------
  @function
---------------------------------------------------------------------- */
/* フォントrem */
@function rem($pixels) {
  @return calc($pixels / $baseFontSize) * 1rem;
}

// line-height計算関数
@function lh($font-size, $line-height-px) {
  $raw: math.div($line-height-px, $font-size);
  @return round-decimal($raw);
}

// letter-spacing計算関数
@function ls($font-size) {
  @return math.div($font-size, 1000) * 1em;
}

// 四捨五入用関数
@function round-decimal($number) {
  @return math.div(math.round($number * 100), 100);
}

// 単位を取り除く関数
@function strip-unit($number) {

  @if meta.type-of($number)=='number' and not math.is-unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

// レスポンシブvw値
@function vw($size, $viewport: 375) {
  $rate: math.div($size, $viewport);
  $vw-value: $rate * 100vw;
  @return round-decimal($vw-value);
}

/* レスポンシブ%値 */
@function percent($size, $viewport: 750) {
  $rate: math.div($size, $viewport);
  $percent-value: $rate * 100%;
  @return round-decimal($percent-value);
}

// clamp：ウィンドウ幅基準
@function fluid-vw($min, $max, $min-viewport: 768px, $max-viewport: 1400px) {
  $min-num: strip-unit($min);
  $max-num: strip-unit($max);
  $min-viewport-num: strip-unit($min-viewport);
  $max-viewport-num: strip-unit($max-viewport);

  // 傾き
  $slope: math.div($max-num - $min-num, $max-viewport-num - $min-viewport-num );

  // 切片
  $intercept: $min-num - ($slope * $min-viewport-num);

  // 小数点以下2桁に丸める
  $slope: round-decimal($slope * 100);
  $intercept: round-decimal($intercept);

  @return clamp(#{$min-num}px, calc(#{$slope}vw + #{$intercept}px), #{$max-num}px);
}

// clamp：フォントサイズ（rem）用
@function fluid-rem($min, $max, $min-viewport: 768px, $max-viewport: 1400px) {
  $min-num: strip-unit($min);
  $max-num: strip-unit($max);
  $min-viewport-num: strip-unit($min-viewport);
  $max-viewport-num: strip-unit($max-viewport);

  $slope: math.div($max-num - $min-num, $max-viewport-num - $min-viewport-num);

  $intercept: $min-num - ($slope * $min-viewport-num);

  $slope: round-decimal($slope * 100);
  $intercept: round-decimal(math.div($intercept, $baseFontSize));

  @return clamp(#{rem($min-num)}, calc(#{$slope}vw + #{$intercept}rem), #{rem($max-num)});
}

// 逆可変（画面が広くなると値が小さくなる）clampを計算する関数
@function clamp-reverse($min-width, $max-width, $min-value, $max-value) {
  // 1pxあたりの変化量（傾き）を計算
  $slope: math.div($min-value - $max-value, $max-width - $min-width);

  // vwの係数を計算
  $vw-coefficient: $slope * 100;

  // 固定値（切片）を計算
  $base-px: $max-value - ($slope * $min-width);

  // clamp(最小値, 計算式, 最大値) の形で返す
  // ※Sassのコンパイルエラーを防ぐため、文字列補間 #{} を使用
  @return clamp(#{$min-value}px, #{$base-px}px + #{$vw-coefficient}vw, #{$max-value}px);
}

/* --------------------------------------------------------------------
  @mixin
---------------------------------------------------------------------- */
/* メディアクエリ 例：@include mq(lg){};*/
@mixin mq($bp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}

// 見出し
@mixin titleBase($size: 16, $weight: 800, $ls: false, $lh: false, $range: false) {
  @if $range {
    @content;
  }

  @else {
    font-size: rem($size);
  }

  font-family: $fontEn;
  font-weight: $weight;

  @if $lh {
    line-height: lh($size, $lh);
  }

  @if $ls {
    letter-spacing: ls($ls);
  }
}

// カスタムチェック・ラジオボタン非表示
@mixin inputHidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* マウスオーバー */
@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

/* hover opacity */
@mixin alpha($param: .8) {
  transition: opacity .3s ease;

  @include hover {
    opacity: $param;
  }
}

/* キーフレーム 例：@include keyframes(menu-bar01);*/
@mixin keyframes($animation-name: animaton) {
  @keyframes #{$animation-name} {
    @content;
  }
}

/* アニメーション 例：@include animation(menu-bar01 .75s forwards);*/
@mixin animation($animation-name) {
  animation: $animation-name;
}