@charset "utf-8";
@use "../../setting" as *;

/*--------------------------------------------------------------------
   Component : フォームアイテム
----------------------------------------------------------------------*/
.c- {

  &input,
  &select {
    width: 100%;
    border: 1px solid #333;
    background: #fff;
    &:focus-visible {
      outline-color: rgba(0, 123, 255, 0.5);
    }
  }

  &input:not(textarea) {
    height: 48px;
  }

  &input {
    display: block;
    padding: 10px;

    &::-webkit-input-placeholder {
      color: rgba(153, 153, 153, 1);
    }

    &:-ms-input-placeholder {
      color: rgba(153, 153, 153, 1);
    }

    &::-moz-placeholder {
      color: rgba(153, 153, 153, 1);
    }
  }

  &inputRadio {
    display: inline-block;
    $this: &;

    [type="radio"] {
      @include inputHidden;
    }

    &:has([type="radio"]:focus-visible) {
      outline: 2px solid rgba(0, 123, 255, 0.5);
      outline-offset: 2px;
    }

    &_parts {
      display: flex;
      align-items: center;
      column-gap: 10px;
      position: relative;

      &::before,
      &::after {
        display: inline-block;
        border-radius: 50%;
        content: '';
      }

      &::before {
        width: 20px;
        height: 20px;
        border: 1px solid #333;
      }

      &::after {
        position: absolute;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
        opacity: 0;
        width: 12px;
        height: 12px;
        background: #333;
      }

      #{$this}_input:checked+& {
        &::after {
          opacity: 1;
        }
      }
    }

    @include mq(xl) {
      &_parts {
        &::before {
          width: max(vw(20, 1440), 20px);
          height: max(vw(20, 1440), 20px);
        }

        &::after {
          left: max(vw(4, 1440), 4px);
          width: max(vw(12, 1440), 12px);
          height: max(vw(12, 1440), 12px);
        }
      }
    }
  }

  &inputCheck {
    display: inline-block;
    $this: &;

    [type="checkbox"] {
      @include inputHidden;
    }

    &:has([type="checkbox"]:focus-visible) {
      outline: 2px solid rgba(0, 123, 255, 0.5);
      outline-offset: 2px;
    }

    &_parts {
      display: flex;
      align-items: center;
      column-gap: 10px;
      position: relative;

      &::before,
      &::after {
        flex-shrink: 0;
        display: block;
        width: 16px;
        height: 16px;
        content: '';
      }

      &::before {
        border: 1px solid #333;
      }

      &::after {
        position: absolute;
        left: 0;
        opacity: 0;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-check-icon%20lucide-check%22%3E%3Cpath%20d%3D%22M20%206%209%2017l-5-5%22%2F%3E%3C%2Fsvg%3E');
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      #{$this}_input:checked+& {
        &::after {
          opacity: 1;
        }
      }
    }

    @include mq(md) {
      &_parts {

        &::before,
        &::after {
          width: 20px;
          height: 20px;
        }
      }
    }

    @include mq(xl) {
      &_parts {

        &::before,
        &::after {
          width: max(vw(20, 1440), 20px);
          height: max(vw(20, 1440), 20px);
        }
      }
    }
  }
}