@charset "utf-8";
@use "../../setting" as *;

/*--------------------------------------------------------------------
   Component : タイトル
----------------------------------------------------------------------*/
.c-ttl {
  @include titleBase(28, $ls: 68, $lh: 34);

  @include mq(md) {
    font-size: rem(32);
  }

  @include mq(xl) {
    font-size: max(vw(32, 1440), rem(32));
  }
}